################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/bin
*/obj
/Challenge.WebApi/Challenge.Infrastructure/bin/Debug/net6.0
/Challenge.WebApi/Challenge.Infrastructure/obj
/Challenge.WebApi/Challenge.WebApi/bin/Debug/net6.0
/Challenge.WebApi/Challenge.WebApi/obj
/Challenge.WebApi/.vs/Challenge.WebApi/v17
/Challenge.WebApi/Challenge.Domain/bin/Debug/net6.0
/Challenge.WebApi/Challenge.Domain/obj
/Challenge.WebApi/.vs/Challenge.WebApi
/Challenge.WebApi/Challenge.Service/obj
/Challenge.WebApi/Challenge.Service/bin/Debug/net6.0
/Challenge.WebApi/Challenge.Bot/bin/Debug/net6.0
/Challenge.WebApi/Challenge.Bot/obj
/Challenge.WebApi/Challenge.UnitTests/bin/Debug/net6.0
/Challenge.WebApi/Challenge.UnitTests/obj
